*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100vw;
    height: 100vh;
    background: rgb(46,45,52);
    background: linear-gradient(90deg, rgba(46,45,52,1) 0%, rgba(14,14,14,1) 100%, rgba(0,212,255,1) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    position: relative;
}
#GrowwLogo{
    width: 100px;
    height: 80px;
}
.box{
    width:1000px;
    height:450px;
    border: solid rgb(42, 41, 41) 3px;
    border-radius: 12px;
    background-color: white;
    display: flex;
    justify-content:center ;
    
}
.leftBox{
    width: 500px;
    height: 445px;
    
    border-top-left-radius:10px ;
    border-bottom-left-radius:10px ;
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgb(96, 225, 143) 0%);
    display: flex;
}
#heading{
    width: 300px;
    color: white;
    margin-top: 40px;
    padding: 30px;
    font-size: 30px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.rightBox{
    width: 500px;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    margin-top: 40px;
}
#welcome{
    
    font-size: 30px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
       
}   
     
#googleLogin{
    width: 270px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: solid 2px rgb(224, 222, 222) ;
    border-radius: 6px;
}
#logoG{
    width: 30px;
    height: 30px;
}
#Email{
    padding: 5px;
    text-decoration: none;
    color: black;
}
#Add{
    border: none;
    width: 270px;
    height: 40px;
    border-bottom: solid 2px rgb(152, 152, 152);
}
.end{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#conti{
    width: 270px;
    height: 30px;
    color: azure;
    background-color: rgb(26, 226, 159);
    border: none;
    border-radius: 5px;
    margin-top: 30px;
}
#sentence{
   font-size: 10px; 
}

    